<div ng-repeat="beer in beers">
  <div class="beer">
    <div class="img-container">
      <img ng-src="{{beer.image_url}}"/>
    </div>

    <div class="content-container">
      <p class="beer-name">{{beer.name}}</p>
      <p>{{beer.style}} - {{beer.abv}}% ABV</p>
    </div>

    <p>
      <a href="#/beers/{{beer._id}}">reviews</a>
    </p>

    <i ng-click="removeBeer(beer)" class="fa fa-times remove"></i>
  </div>
</div>

<form ng-submit="addBeer()">
  <h3>Add a new beer</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Beer Name" ng-model="name"></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Style" ng-model="style"></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="ABV" ng-model="abv"></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Image URL" ng-model="image_url"></input>
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
</form>